<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true">
      <layout xsi:type="SimpleLayout" text="${longdate}|${threadId}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=toString}}" />
    </target>
    <target name="udp" xsi:type="Network" address="udp://127.0.0.1:7071" layout="${log4jxmlevent:includeSourceInfo=true}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="udp,console" />
  </rules>
</nlog>